<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File"
            name="file"
            fileName="server.log"
            archiveEvery="Day"
            layout="${longdate} [${uppercase:${level}}] ${message}${onexception:${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.*" minlevel="Warn" writeTo="file" final="true" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>

</nlog>
